# Artificial Neural Network

### Importing the libraries

In [1]:
#!pip install tensorflow - only via anaconda prompt (conda update conda, THEN, conda install tensorflow)
#!pip install keras
#!pip install torch

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [3]:
tf.__version__

'2.3.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values # Reason below
y = dataset.iloc[:, -1].values

In [5]:
dataset.head() # Do not need Row Number, CustomerId, Surname

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
dataset.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
dataset.info() # No nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [9]:
dataset.describe(include='O')

       Surname Geography Gender
count    10000     10000  10000
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5457

In [10]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [11]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

In [12]:
# The labelEncoder is used for categories with no more than two different values
# such as "yes or no", "male or female" ...0 or 1...

# The one hot Encoder is used for categories with more than two different values
# such as countries, cities

Label Encoding the "Gender" column

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [14]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [16]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Feature Scaling

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [19]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [20]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [21]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [22]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [23]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [24]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
  1/250 [..............................] - ETA: 0s - loss: 0.6248 - accuracy: 0.7188WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.0010s). Check your callbacks.
250/250 [==============================] - 0s 700us/step - loss: 0.5347 - accuracy: 0.7797
Epoch 2/100
250/250 [==============================] - 0s 716us/step - loss: 0.4748 - accuracy: 0.7962
Epoch 3/100
250/250 [==============================] - 0s 764us/step - loss: 0.4579 - accuracy: 0.7962
Epoch 4/100
250/250 [==============================] - 0s 616us/step - loss: 0.4433 - accuracy: 0.7994
Epoch 5/100
250/250 [==============================] - 0s 644us/step - loss: 0.4282 - accuracy: 0.8067
Epoch 6/100
250/250 [==============================] - 0s 612us/step - loss: 0.4155 - accuracy: 0.8184
Epoch 7/100
250/250 [==============================] - 0s 684us/step - loss: 0.4036 - accuracy: 0.8235
Epoch 8/100
250/250 [==============================] - 0s 640us/step - loss: 0.3928 - accuracy: 0.8306
Epoch 9/100
250/250 [==============================] - 0s 624us/step - loss: 0.3831 - accuracy: 0.8374
Epoch 10/100
250/250 [==============================] - 0s 560us/step - loss: 0.3753 - accuracy: 0.8410
Epoch 11/100
250/250 [==============================] - 0s 672us/step - loss: 0.3689 - accuracy: 0.8449
Epoch 12/100
250/250 [==============================] - 0s 720us/step - loss: 0.3652 - accuracy: 0.8466
Epoch 13/100
250/250 [==============================] - 0s 660us/step - loss: 0.3608 - accuracy: 0.8485
Epoch 14/100
250/250 [==============================] - 0s 636us/step - loss: 0.3577 - accuracy: 0.8529
Epoch 15/100
250/250 [==============================] - 0s 664us/step - loss: 0.3544 - accuracy: 0.8551
Epoch 16/100
250/250 [==============================] - 0s 644us/step - loss: 0.3520 - accuracy: 0.8571
Epoch 17/100
250/250 [==============================] - 0s 664us/step - loss: 0.3497 - accuracy: 0.8577
Epoch 18/100
250/250 [==============================] - 0s 628us/step - loss: 0.3471 - accuracy: 0.8587
Epoch 19/100
250/250 [==============================] - 0s 580us/step - loss: 0.3461 - accuracy: 0.8589
Epoch 20/100
250/250 [==============================] - 0s 677us/step - loss: 0.3444 - accuracy: 0.8605
Epoch 21/100
250/250 [==============================] - 0s 800us/step - loss: 0.3435 - accuracy: 0.8591
Epoch 22/100
250/250 [==============================] - 0s 668us/step - loss: 0.3427 - accuracy: 0.8604
Epoch 23/100
250/250 [==============================] - 0s 692us/step - loss: 0.3416 - accuracy: 0.8610
Epoch 24/100
250/250 [==============================] - 0s 596us/step - loss: 0.3406 - accuracy: 0.8615
Epoch 25/100
250/250 [==============================] - 0s 576us/step - loss: 0.3396 - accuracy: 0.8600
Epoch 26/100
250/250 [==============================] - 0s 664us/step - loss: 0.3395 - accuracy: 0.8596
Epoch 27/100
250/250 [==============================] - 0s 672us/step - loss: 0.3387 - accuracy: 0.8634
Epoch 28/100
250/250 [==============================] - 0s 644us/step - loss: 0.3381 - accuracy: 0.8610
Epoch 29/100
250/250 [==============================] - 0s 720us/step - loss: 0.3377 - accuracy: 0.8608
Epoch 30/100
250/250 [==============================] - 0s 896us/step - loss: 0.3373 - accuracy: 0.8618
Epoch 31/100
250/250 [==============================] - 0s 668us/step - loss: 0.3372 - accuracy: 0.8616
Epoch 32/100
250/250 [==============================] - 0s 672us/step - loss: 0.3365 - accuracy: 0.8634
Epoch 33/100
250/250 [==============================] - 0s 728us/step - loss: 0.3365 - accuracy: 0.8618
Epoch 34/100
250/250 [==============================] - 0s 672us/step - loss: 0.3357 - accuracy: 0.8624
Epoch 35/100
250/250 [==============================] - 0s 730us/step - loss: 0.3359 - accuracy: 0.8622
Epoch 36/100
250/250 [==============================] - 0s 748us/step - loss: 0.3356 - accuracy: 0.8621
Epoch 37/100
250/250 [==============================] - 0s 664us/step - loss: 0.3351 - accuracy: 0.8621
Epoch 38/100
250/250 [==============================] - 0s 644us/step - loss: 0.3349 - accuracy: 0.8611
Epoch 39/100
250/250 [==============================] - 0s 716us/step - loss: 0.3348 - accuracy: 0.8626
Epoch 40/100
250/250 [==============================] - 0s 660us/step - loss: 0.3346 - accuracy: 0.8622
Epoch 41/100
250/250 [==============================] - 0s 616us/step - loss: 0.3349 - accuracy: 0.8610
Epoch 42/100
250/250 [==============================] - 0s 680us/step - loss: 0.3346 - accuracy: 0.8614
Epoch 43/100
250/250 [==============================] - 0s 672us/step - loss: 0.3341 - accuracy: 0.8610
Epoch 44/100
250/250 [==============================] - 0s 628us/step - loss: 0.3344 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 0s 692us/step - loss: 0.3342 - accuracy: 0.8618
Epoch 46/100
250/250 [==============================] - 0s 692us/step - loss: 0.3339 - accuracy: 0.8627
Epoch 47/100
250/250 [==============================] - 0s 584us/step - loss: 0.3336 - accuracy: 0.8609
Epoch 48/100
250/250 [==============================] - 0s 600us/step - loss: 0.3338 - accuracy: 0.8618
Epoch 49/100
250/250 [==============================] - 0s 622us/step - loss: 0.3337 - accuracy: 0.8618
Epoch 50/100
250/250 [==============================] - 0s 728us/step - loss: 0.3338 - accuracy: 0.8619
Epoch 51/100
250/250 [==============================] - 0s 692us/step - loss: 0.3333 - accuracy: 0.8600
Epoch 52/100
250/250 [==============================] - 0s 676us/step - loss: 0.3333 - accuracy: 0.8615
Epoch 53/100
250/250 [==============================] - 0s 560us/step - loss: 0.3334 - accuracy: 0.8621
Epoch 54/100
250/250 [==============================] - 0s 580us/step - loss: 0.3333 - accuracy: 0.8618
Epoch 55/100
250/250 [==============================] - 0s 644us/step - loss: 0.3332 - accuracy: 0.8611
Epoch 56/100
250/250 [==============================] - 0s 640us/step - loss: 0.3333 - accuracy: 0.8614
Epoch 57/100
250/250 [==============================] - 0s 752us/step - loss: 0.3331 - accuracy: 0.8615
Epoch 58/100
250/250 [==============================] - 0s 688us/step - loss: 0.3331 - accuracy: 0.8612
Epoch 59/100
250/250 [==============================] - 0s 596us/step - loss: 0.3328 - accuracy: 0.8611
Epoch 60/100
250/250 [==============================] - 0s 676us/step - loss: 0.3327 - accuracy: 0.8609
Epoch 61/100
250/250 [==============================] - 0s 680us/step - loss: 0.3330 - accuracy: 0.8612
Epoch 62/100
250/250 [==============================] - 0s 556us/step - loss: 0.3325 - accuracy: 0.8614
Epoch 63/100
250/250 [==============================] - 0s 660us/step - loss: 0.3328 - accuracy: 0.8606
Epoch 64/100
250/250 [==============================] - 0s 644us/step - loss: 0.3327 - accuracy: 0.8625
Epoch 65/100
250/250 [==============================] - 0s 580us/step - loss: 0.3329 - accuracy: 0.8602
Epoch 66/100
250/250 [==============================] - 0s 656us/step - loss: 0.3327 - accuracy: 0.8609
Epoch 67/100
250/250 [==============================] - 0s 608us/step - loss: 0.3325 - accuracy: 0.8596
Epoch 68/100
250/250 [==============================] - 0s 674us/step - loss: 0.3322 - accuracy: 0.8624
Epoch 69/100
250/250 [==============================] - 0s 680us/step - loss: 0.3324 - accuracy: 0.8621
Epoch 70/100
250/250 [==============================] - 0s 595us/step - loss: 0.3323 - accuracy: 0.8614
Epoch 71/100
250/250 [==============================] - 0s 596us/step - loss: 0.3318 - accuracy: 0.8627
Epoch 72/100
250/250 [==============================] - 0s 584us/step - loss: 0.3324 - accuracy: 0.8618
Epoch 73/100
250/250 [==============================] - 0s 600us/step - loss: 0.3322 - accuracy: 0.8611
Epoch 74/100
250/250 [==============================] - 0s 596us/step - loss: 0.3320 - accuracy: 0.8614
Epoch 75/100
250/250 [==============================] - 0s 668us/step - loss: 0.3322 - accuracy: 0.8611
Epoch 76/100
250/250 [==============================] - 0s 668us/step - loss: 0.3321 - accuracy: 0.8602
Epoch 77/100
250/250 [==============================] - 0s 596us/step - loss: 0.3317 - accuracy: 0.8611
Epoch 78/100
250/250 [==============================] - 0s 548us/step - loss: 0.3321 - accuracy: 0.8618
Epoch 79/100
250/250 [==============================] - 0s 584us/step - loss: 0.3317 - accuracy: 0.8616
Epoch 80/100
250/250 [==============================] - 0s 544us/step - loss: 0.3322 - accuracy: 0.8612
Epoch 81/100
250/250 [==============================] - 0s 628us/step - loss: 0.3315 - accuracy: 0.8618
Epoch 82/100
250/250 [==============================] - 0s 768us/step - loss: 0.3319 - accuracy: 0.8625
Epoch 83/100
250/250 [==============================] - 0s 660us/step - loss: 0.3320 - accuracy: 0.8611
Epoch 84/100
250/250 [==============================] - 0s 620us/step - loss: 0.3316 - accuracy: 0.8614
Epoch 85/100
250/250 [==============================] - 0s 628us/step - loss: 0.3320 - accuracy: 0.8602
Epoch 86/100
250/250 [==============================] - 0s 572us/step - loss: 0.3318 - accuracy: 0.8631
Epoch 87/100
250/250 [==============================] - 0s 568us/step - loss: 0.3316 - accuracy: 0.8625
Epoch 88/100
250/250 [==============================] - 0s 640us/step - loss: 0.3320 - accuracy: 0.8618
Epoch 89/100
250/250 [==============================] - 0s 568us/step - loss: 0.3317 - accuracy: 0.8616
Epoch 90/100
250/250 [==============================] - 0s 606us/step - loss: 0.3317 - accuracy: 0.8609
Epoch 91/100
250/250 [==============================] - 0s 553us/step - loss: 0.3313 - accuracy: 0.8601
Epoch 92/100
250/250 [==============================] - 0s 588us/step - loss: 0.3316 - accuracy: 0.8618
Epoch 93/100
250/250 [==============================] - 0s 559us/step - loss: 0.3316 - accuracy: 0.8633
Epoch 94/100
250/250 [==============================] - 0s 580us/step - loss: 0.3315 - accuracy: 0.8611
Epoch 95/100
250/250 [==============================] - 0s 860us/step - loss: 0.3314 - accuracy: 0.8606
Epoch 96/100
250/250 [==============================] - 0s 640us/step - loss: 0.3316 - accuracy: 0.8621
Epoch 97/100
250/250 [==============================] - 0s 560us/step - loss: 0.3314 - accuracy: 0.8637
Epoch 98/100
250/250 [==============================] - 0s 552us/step - loss: 0.3314 - accuracy: 0.8608
Epoch 99/100
250/250 [==============================] - 0s 581us/step - loss: 0.3315 - accuracy: 0.8630
Epoch 100/100
250/250 [==============================] - 0s 564us/step - loss: 0.3316 - accuracy: 0.8616

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [25]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [26]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1529   64]
 [ 207  200]]

0.8645